
* {
    font-family: Verdana;
    /*    color: rgba(0,0,0,.8);*/
}

@page {
    margin-top: 180pt;
    margin-bottom: 72pt;
    margin-right: 72pt;
    margin-left: 108pt;
}

html {
    -webkit-print-color-adjust: exact;
    width: 100%;
}

    html header {
        font-size: 6pt;
        display: grid;
        align-items: center;
        align-content: center;
        width: 100%;
        margin-top: 55pt;
        margin-right: 55pt;
        margin-left: 80pt;
        grid-gap: 7pt;
    }

        html header #header-brand-info {
            width: 100%;
            display: grid;
            justify-self: start;
            align-self: start;
            align-items: center;
            align-content: center;
            grid-auto-flow: column;
            grid-auto-columns: 1fr 1fr;
        }

            html header #header-brand-info #brand-main-info {
                display: grid;
                grid-auto-flow: column;
                grid-gap: 5px;
                justify-content: start;
                align-items: center;
                align-content: center;
                text-align: start;
            }

                html header #header-brand-info #brand-main-info #blogo {
                    height: 25pt;
                    width: 25pt;
                    min-height: 25pt;
                    min-width: 25pt;
                }

                html header #header-brand-info #brand-main-info #brand-name {
                    font-weight: 900;
                    font-size: 7pt;
                }

            html header #header-brand-info #brand-sub-info #sub-info-item {
                text-align: end;
                font-weight: 300;
            }

        html header #document-title {
            font-weight: 900;
            text-align: center;
            font-size: 7pt;
        }

#divider {
    min-height: 1pt;
    border-bottom: .01em solid rgba(0,0,0,.1);
    width: 100%;
}


.header-body {
    font-size: 7pt;
    width: 100%;
    background-color: blue !important;
}


/*BODY ------------------------------------------------------- */

@media print {
    body {
        font-size: 8pt;
        position: relative;
        margin: 0;
        line-height: 1.6;
    }

        body:before {
            content: "";
            position: absolute;
            z-index: 9999;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: .1;
            background: url('') 0 0/100% 100vh;
        }
}


section.doc-main-dtls {
    display: grid;
    margin-bottom: 10pt;
}

    section.doc-main-dtls .doc-content {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr auto;
        grid-gap: 5pt;
    }

        section.doc-main-dtls .doc-content .doc-sum .doc-sum-item {
            padding: 1pt 0;
        }

        section.doc-main-dtls .doc-content .qr {
            padding: 0 5pt;
        }

            section.doc-main-dtls .doc-content .qr img {
                height: 50pt;
                width: 50pt;
                min-height: 50pt;
                min-width: 50pt;
                align-self: center;
                align-content: center;
                justify-content: end;
                justify-self: end;
            }

.doc-title {
    font-weight: 600;
    font-size: 10pt;
    color: rgba(0,0,0,.5);
    padding-bottom: 2px;
}


.info-group-column {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto 1fr;
    align-content: center;
    align-items: center;
    justify-content: start;
    justify-items: start;
    grid-gap: 10pt;
}

    .info-group-column .label {
        color: rgba(0,0,0,.8);
        font-weight: 500;
    }

    .info-group-column .value {
    }


table {
    border-collapse: collapse;
    font-size: 7pt;
    width: 100%;
}

    table.tbl-data {
        margin-top: 20pt;
    }


    table thead tr {
        text-align: left;
        font-weight: 600;
        background-color: #f5f5f5;
    }

    table th,
    table td {
        padding: 5pt 8pt;
    }

tbody tr {
    border-bottom: 1pt solid #dddddd;
}



.end-document-container {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    justify-items: end;
    align-content: center;
    align-items: center;
    padding: 5pt;
    margin-top: 50pt;
    break-inside: avoid;
}

    .end-document-container .signature {
        display: grid;
        justify-items: center;
        text-align: center;
        grid-gap: .3pt;
    }

        .end-document-container .signature img {
            text-align: center;
        }

        .end-document-container .signature .name {
            width: 100%;
            min-width: 200px;
            border-top: .03em solid rgba(0,0,0,.7);
        }

section.footer {
    margin-top: 10pt;
    display: grid;
    width: 100%;
    justify-content: end;
    justify-items: end;
}

    section.footer .footer-info-group {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: auto 1fr;
        align-content: center;
        align-items: center;
        justify-content: start;
        justify-items: start;
        grid-gap: 10pt;
        font-size: 7pt;
    }

        section.footer .footer-info-group .label {
            color: rgba(0,0,0,.6);
            font-weight: 500;
        }

        section.footer .footer-info-group .value {
            background-color: #f5f5f5;
            border-radius: 5px;
            padding: 3pt;
        }


section.paragraph {
}

span.tab {
    tab-size: 5;
}
